__pycache__/
*.py[cod]

.venv/
venv/

.env
*.key
*.pem
configs/*-local.yaml
configs/*.local.yaml
!configs/*-local.example.yaml
!configs/*.local.example.yaml

.pytest_cache/
.mypy_cache/

data/
.idea/
/data/

*.egg-info/
src/poolctl.egg-info/
